#Home{
    text-shadow: none;
    opacity: 0.6;
}

#Profile{
    text-shadow: none;
}

#Notifications{
    text-shadow: none;
}

#Help {
    text-shadow: none;
}

#Friends{
    text-shadow: 0px 0px 5px #fff;
    opacity: 1;
}